body {
  background-image: url("../media/drag_strip.jpg"); 
  background-repeat: no-repeat;    
  background-size: cover;          
  background-position: center;     
  background-attachment: fixed;   
}

body {
  color: white; 
}
